.fc {
    @apply bg-transparent w-full  h-full  justify-center  ;
    @apply rounded-3xl ;
  }

  .fc-scroller-fc-scroller-liquid-absolute{
    @apply grid justify-stretch items-stretch overflow-scroll
  }

  .fc-header-toolbar {
    @apply text-[9px] font-semibold px-5 pt-1;
  }
 .fc-toolbar-title{
     font-size:14px !important;
 }
 .fc-timegrid-slot.fc-timegrid-slot-lane{
  @apply border border-black/10  basis-auto !important ;
 }
.fc-event{
    @apply rounded-lg font-semibold p-1 text-start bg-blue-500 hover:bg-blue-500/90 ;
}
  .fc-event-title {
    @apply text-white bg-transparent;
  }
.fc-scroller {
        overflow: hidden !important;
        @apply p-2  text-[9px] text-center;
        
    }
:root
    {--fc-border-color: transparent;
     
    }
.fc-today-button.fc-button.fc-button-primary{
    @apply bg-blue-600 opacity-100 border-0 hover:bg-blue-600/80 hover:text-white text-white !important; 
}

.fc-button.fc-button-primary{
    @apply bg-transparent hover:bg-slate-950/5 text-slate-950 border-0 hover:text-slate-950 focus:ring-0  focus:bg-transparent  active:bg-transparent dark:text-white   !important ;
}